body{
    background-color: white;
}

header{
    background-color: #3B3941;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
}
