html{
    font-family:sans-serif;
}

body {
    margin-left: 10%;
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#header-logo {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    max-width: 100px;
}

header {
    background-color: #3B3941;

}

nav a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
    text-decoration: none;
    color: #CFA30D;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3 ease;
}

nav a:hover {
    color: #fccb2a;
}
body h1{
    margin-left: 20px;
    font-size: 40px;
}
body h2{
    margin-left: 20px;
}