html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

.separator {
    margin: 4em 0;
}

hr {
    margin: 0px;
}

h1 {
    font-size: 40px;
}

/* h2 {
    font-weight: 33.28px;
}

h3 {
    font-size: 27.69px;
}

h4 {
    font-size: 23.04px;
}

h5 {
    font-size: 19.17px;
} */

/* header ------------------------------------- */
header {
    background-color: #3B3941;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.2);

}

#header-logo {
    margin-left: 15px;
    margin-top: 15px;
    max-width: 100px;
    min-width: 15mm;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

#search-button {
    color: #ffd500;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    font-size: 28px;
    padding-top: 16px;
}

/* dropdown-menu ------------------------------------------------------------------- */
/* from w3school */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_right */
.dropbtn {
    background-color: #3B3941;
    color: #ffd500;
    font-size: 35px;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffd500;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: larger;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s background-color ease;
    border-top: 1px solid rgb(92, 92, 92);
}

.dropdown-content a:hover {
    background-color: #fff6cb;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Video ------------------------------------------------------------*/
.video-container {
    position: relative;
    max-width: 75%;
    /* <----- 16:9 aspect ratio */
    padding-bottom: 42.1875%;
    /* <----- 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
    border: 3px solid #ffd500;
    margin-top: 50px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.112);
}

@media (max-width: 600px) {
    .video-container {
        max-width: 100%;
        /* <----- 16:9 aspect ratio */
        padding-bottom: 56.25%;
        /* <----- 16:9 aspect ratio */
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
        border: 3px solid #ffd500;
    }

}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* nav ----------------------------------------------- */
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    min-height: 90px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15%;
    max-width: 60%;
}

.nav-links li {
    display: inline;
    padding: 15px;
    background-color: #00000022;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-links li:hover {
    background-color: #ffffff13;
}

.nav-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #ffd500;
    font-weight: bold;
    font-size: 1.5rem;
}

/* main ----------------------------------------------------- */

/* for desktop */
#main {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
}

/* for mobile */
@media (max-width: 600px) {
    #main {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20px;
    }
}

#main-content>h2 {
    font-weight: 100;
}

#course-key-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0% 0%;
}

@media (max-width: 600px) {
    #course-key-points {
        justify-content: center;
    }
}

.detail-box {
    width: 13rem;
    margin: 0.6%;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;
}

/* #course-key-points div:hover {
    background-color: rgba(211, 211, 211, 0.237);
    border-color: #3b39417a;
} */

#course-info {
    width: 100%;
    margin: auto;
}

#course-summary {
    max-width: 50rem;
    padding: 4em 0;
}

#course-summary>h2 {
    margin-top: 0;
}


/* studies ----------------------------------------------- */

#person-text {
    padding-left: 10px;
    display: inline-block;
}

.divider {
    display: inline;
    font-weight: 100;
}

#img-krhel3944 {
    max-width: 100px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.267);

}

#course-cards {
    display: flex;
    flex-wrap: wrap;
}

#Videre-studiemuligheter-ved-OsloMet>#course-glance-container {
    margin: 0;
}

/* footer ------------------------------------------------- */
/*** Adding Styles to Company Details ***/

.more-info-tabcontent {
    background-color: #00000008;
    display: none;
    padding: 5% 5%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    margin: auto;
    border-radius: 10px;
}

.more-info-tabcontent>a{
    transition: 0.2s all ease;
    padding: 0.6rem 0;
}

.more-info-tabcontent>a:hover{
    scale: 1.11;
    background-color: #cccccc;
}

.more-info-tab {
    background-color: #00000000;
    margin: auto;
    width: fit-content;
}

.more-info-tab button {
    cursor: pointer;
    background-color: #0000000c;
    border: 1px;
    border-radius: 5px;
}

.moreInfo {
    overflow: hidden;
    padding: 3rem 0em;
    background: #00000022;
    text-align: center;
    margin-top: 5em;
    height: fit-content;
}

#footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer #col1,
#footer #col2,
#footer #col3 {
    float: left;
    width: 320px;
    padding: 40px 40px 40px 40px;
}

#footer #icon {
    display: block;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.mediabox {
    overflow: hidden;
    padding: 3rem 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: #3B3941;
}

.mediabox p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
}

.mediabox a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

/* Styling Social Icons */
ul.media {
    margin: 0;
    padding: 2rem 0 0 0;
    list-style: none;
}

ul.media li {
    display: inline-block;
    padding: 0 0.10rem;
    font-size: 2rem;
}

ul.media li a {
    color: #FFF;
    display: inline-block;
    background: rgba(12, 12, 12, 0.6);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.more-info-links {
    display: block;
    text-decoration: underline;
    text-decoration-color: #ffd500;
    color: black;
    text-decoration-thickness: 2px;
}

.more-info-links:hover {
    text-decoration-thickness: 3px;
}

/* more-content ----------------------------------------------------------*/

.more-content-boxes>h2 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.more-content-boxes {
    margin-bottom: 4rem;
}


/* course-info-tabs ----------------------------------------------------- */

/* tabs style copied from w3schools, then customized
https://www.w3schools.com/howto/howto_js_tabs.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs_fade
 */

/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 80%;
    margin: auto;
    min-width: 285px;
}

/* for mobile */
@media (max-width: 1160px) {
    .tab {
        flex-direction: column;
    }
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 3px;
    margin: 1px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ffe58f;
    scale: 1.015;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffd500;
    scale: 1.015;
}

/* Style the tab content */
.tabcontent {
    background-color: #f1f1f1;
    display: none;
    padding: 5% 5%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70%;
    margin: auto;
    border: 1px solid #f1f1f1;
    min-width: 250px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.course-info-links {
    text-decoration-style: underline;
    text-decoration-color: #ffd500;
    color: black;
    text-decoration-thickness: 2px;
}

.course-info-links:hover {
    text-decoration-thickness: 3px;
}

.subheader-tabcontent {
    margin-top: 50px;
}

.course-structure {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 30px;
}

.clickable-info-box {
    text-decoration: none;
    margin-right: -1px;
}

.course-info-box {
    width: 175px;
    margin: 0.6%;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 10px;
    color: black;
    transition: 0.1s all ease;
    background-color: #00000000;
    height: 120px;
    line-height: initial;
}

.course-info-box:hover {
    background-color: #ffde74;
}

.course-info-box-elements {
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin-top: -8px;
    margin-bottom: 25px;
}

#star-symbol-explainer>i {
    margin-right: 7px;
}

#double-angle-symbol-explainer>i {
    margin-right: 11px;
    margin-left: 2px;
    scale: 1.2;
}

.hr-dashed {
    margin: 0px;
    border-top: 1px dashed;
    height: 1px;
    color: #0000004e;
    margin: auto;
}

#tabcontent-btt>button {
    background-color: #ffde74;
    border-color: #00000000;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.3s background-color ease;
}

#tabcontent-btt>button:hover {
    background-color: #ffd500;
}

/* course-cards ---------------------------------------------- */

#course-glance {
    margin: 1em;
}

#course-glance>h3 {
    margin: 0.5em 0;
}

#course-glance-container>svg {
    margin: 10px;
}

#course-glance-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    transition: 0.3s box-shadow ease;
    transition: 0.3s background-color ease;
    transition: 0.3s scale ease;
    scale: 1;
    margin: 0 1em 1em 0;
}

@media (max-width: 750px) {
    #course-glance-container {
        margin: 0 0 1em 0;
    }
}

#course-glance-container:hover {
    background-color: #ffde74;
    scale: 1.0125;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#course-glance-points>p {
    margin: 10px;
    margin-right: 15px;
    margin-left: 0px;
    min-width: fit-content;
}

#course-glance-points {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 0px;
}

@media (max-width: 750px) {
    #Videre-studiemuligheter-ved-OsloMet>#course-glance-container>svg {
        scale: 2;
    }
}


@media (max-width: 750px) {
    #other-studies {
        margin: auto;
    }
}